In [16]:
'''list is store the multiple types data by using square brackets 
and sepratedthe value by using comma'''

'list is store the multiple types data by using square brackets \nand sepratedthe value by using comma'

In [17]:
l=[1,2,3,"khush",True,]
l

[1, 2, 3, 'khush', True]

In [18]:
type(l)

list

In [19]:
l[0]

1

In [20]:
l[4]

True

In [21]:
l[0:4]

[1, 2, 3, 'khush']

In [22]:
l[::-1]

[True, 'khush', 3, 2, 1]

In [23]:
l[0:5:2]

[1, 3, True]

In [24]:
"""concatenation only concatenate same data types
example list to list ,string to string"""

'concatenation only concatenate same data types\nexample list to list ,string to string'

In [25]:
s="pwskills"
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [26]:
list(s)+l

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', 1, 2, 3, 'khush', True]

In [27]:
l1=[1,345,45,'sudh',True,(5+7j,345.456)]

In [28]:
l1[3]

'sudh'

In [29]:
l1[3][0:2]

'su'

In [30]:
l1[4]

True

In [31]:
str(l1[4])

'True'

In [32]:
str(l1[4])[0:2]

'Tr'

In [33]:
"""type casting in which we covert one data type to another data type"""

'type casting in which we covert one data type to another data type'

In [34]:
l2=[3,4,5]
l1+l2

[1, 345, 45, 'sudh', True, ((5+7j), 345.456), 3, 4, 5]

In [35]:
l2*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [36]:
l1.append(5)
l1

[1, 345, 45, 'sudh', True, ((5+7j), 345.456), 5]

In [37]:
"""append is use to add the any object end of the list
we can by using append we can add string and list inside list"""

'append is use to add the any object end of the list\nwe can by using append we can add string and list inside list'

In [38]:
l1.append(s)
l1

[1, 345, 45, 'sudh', True, ((5+7j), 345.456), 5, 'pwskills']

In [39]:
l1.extend("sudh")
l

[1, 2, 3, 'khush', True]

In [40]:
''' extend is used to extend tha value which is itertble in nature means it take value and breakdown and then insert in list  '''

' extend is used to extend tha value which is itertble in nature means it take value and breakdown and then insert in list  '

In [41]:
l1.extend([3,4,5])
l1

[1,
 345,
 45,
 'sudh',
 True,
 ((5+7j), 345.456),
 5,
 'pwskills',
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5]

In [42]:
l2

[3, 4, 5]

In [43]:
l2.insert(1,"khush")
l2

[3, 'khush', 4, 5]

In [44]:
l2.insert(2,[2,3,4])

In [45]:
l2

[3, 'khush', [2, 3, 4], 4, 5]

In [46]:
l2

[3, 'khush', [2, 3, 4], 4, 5]

In [47]:
''' insert is used to add the values on the given index (index,obj)'''

' insert is used to add the values on the given index (index,obj)'

In [48]:
l2

[3, 'khush', [2, 3, 4], 4, 5]

In [49]:
l2.pop()

5

In [50]:
l2

[3, 'khush', [2, 3, 4], 4]

In [51]:
l2.pop(3)

4

In [52]:
'''pop remove the values from backside and given index value'''

'pop remove the values from backside and given index value'

In [53]:
l

[1, 2, 3, 'khush', True]

In [54]:
l.remove(5)
l

ValueError: list.remove(x): x not in list

In [ ]:
''' remove is used to remove the specific element which is given in the function'''

' remove is used to remove the specific element which is given in the function'

In [ ]:
#by using function we can done permanent reverse but by slicing we can done temporory reverse actual list is asusual same

In [ ]:
l.reverse()
l

[True, 'khush', 3, 2, 1]

In [ ]:
l

[True, 'khush', 3, 2, 1]

In [ ]:
list=[3,4,2,1,8,5,7]
list.sort()

In [ ]:
list

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
l5=["khush","uma","anitima"]
l5.sort()

In [ ]:
l5

['anitima', 'khush', 'uma']

In [ ]:
l5.sort(reverse=True)
l5

['uma', 'khush', 'anitima']

In [ ]:
l5.index("khush")

1

In [ ]:
s="khush"
s[0]='u'

NameError: name 'u' is not defined

In [ ]:
l3=[30,2,3,4]
l3[0]=15
l3

[15, 2, 3, 4]

In [ ]:
#mutable  means changeble and immutable means not changeable 
#string is immutable and list is mutable

In [68]:
s ="khush"
s.replace('k','a')
s

'khush'

In [ ]:
t=(2,3,4,5,"khush",45.56,False,45+8j,[2,3,4])
t

(2, 3, 4, 5, 'khush', 45.56, False, (45+8j), [2, 3, 4])

In [ ]:
''' tuple is enclosed the values in round brackets'''

' tuple is enclosed the values in round brackets'

In [ ]:
type(t)

tuple

In [ ]:
len(t)

9

In [ ]:
t[0]

2

In [ ]:
t[-1]

[2, 3, 4]

In [ ]:
t[::-1]

([2, 3, 4], (45+8j), False, 45.56, 'khush', 5, 4, 3, 2)

In [56]:
l

[1, 2, 3, 'khush', True]

In [57]:
l[3]

'khush'

In [58]:
l[3]=1234

In [59]:
l

[1, 2, 3, 1234, True]

In [60]:
t

(2, 3, 4, 5, 'khush', 45.56, False, (45+8j), [2, 3, 4])

In [61]:
t[0]="khush"

TypeError: 'tuple' object does not support item assignment

In [62]:
#tuples are not immutable(on same index)

In [63]:
t.count(2)

1

In [64]:
t.index(4)

2

In [65]:
#index function give the the element present on index

In [67]:
m={}
type(m)

dict

In [72]:
n={2,3,4,5,"khush",34.456,(4,6,7)}
type(n)

set

In [73]:
n

{(4, 6, 7), 2, 3, 34.456, 4, 5, 'khush'}

In [74]:
n1={1,2,3,4,2,2,2,3,3,4,4,5,6,6,6,9}
n1

{1, 2, 3, 4, 5, 6, 9}

In [81]:
''' set is enclosed by curly baracket is store only immuaitable data it  give the unique value in the repetition of values (remove duplicate values)
set always create collection of unordred unique values'''

' set is enclosed by curly baracket is store only immuaitable data it  give the unique value in the repetition of values (remove duplicate values)\nset always create collection of unordred unique values'

In [76]:
l6=[1,2,3,4,2,2,2,3,3,4,4,5,6,6,6,9]
set(l6)

{1, 2, 3, 4, 5, 6, 9}

In [79]:
l6=list(set(l6))
l6

[1, 2, 3, 4, 5, 6, 9]

In [80]:
n2={234,546,678,876,"abc",7,4,8}
n2

{234, 4, 546, 678, 7, 8, 876, 'abc'}

In [83]:
n1.add(1)
n1

{1, 2, 3, 4, 5, 6, 9}